<div class="navbar-icons">
  <%= link_to home_path do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= link_to prescriptions_path do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
</div>



<div class="container-white">
  <div class="header-title-purple">
    <div class="left-title">
      <h2><i class="fa-solid fa-rocket"></i> Boost of the day</h2>
    </div>
  </div>

  <div class="day-of-prescription">
    <h6><strong><%= Date.today.strftime("%A - %B %d, %Y") %></strong></h6>
  </div>

  <div class="prescriptions-cards px-3">
    <div class="card-pill">
      <div class="px-3 title-wrap w-100">
        <div class="circle">
          <i class="fa-solid fa-quote-left"></i>
        </div>

        <div class="card-title">
          <h1>Quote</h1>
        </div>
      </div>

      <div class="motivational-quote">
        <div class="quote-sentence">
          <p> <%= @quote.motivational_quote %></p>
        </div>
        <div class="quote-author">
          <p><%= @quote.author %></p>
        </div>
      </div>

      <div class="action-wrap">
        <div class="action-circle-3">
          <%= link_to boost_path do %>
          <i class="fa-solid fa-arrows-rotate"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="prescriptions-cards px-3">
    <div class="card-pill-pictures-boost">
      <div class="px-3 title-wrap w-100">
        <div class="circle">
          <i class="fa-solid fa-camera"></i>
        </div>

        <div class="card-title">
          <h1>Pictures</h1>
        </div>
      </div>

      <div class="pictures-row">
        <% if current_user.photos[0] %>
          <div class="picture-boost">
            <%= cl_image_tag current_user.photos[0].key %>
            <div class="marked-picture">
              <i class="fa-solid fa-bookmark"></i>
            </div>
          </div>
        <% end %>

        <% if current_user.photos[1] %>
          <div class="picture-boost">
            <%= cl_image_tag current_user.photos[1].key %>
            <div class="marked-picture-right">
              <i class="fa-solid fa-bookmark"></i>
            </div>
          </div>
        <% end %>
      </div>

      <div class="upload-picture">
        <%= link_to boost_path do %>
          <i class="fa-solid fa-arrows-rotate"></i>
        <% end %>
      </div>


      <div class="pictures-row">
        <% if current_user.photos[2] %>
          <div class="picture-boost">
            <%= cl_image_tag current_user.photos[2].key %>
            <div class="marked-picture">
              <i class="fa-solid fa-bookmark"></i>
            </div>
          </div>
        <% end %>

        <% if current_user.photos[3] %>
          <div class="picture-boost">
            <%= cl_image_tag current_user.photos[3].key %>
            <div class="marked-picture-right">
              <i class="fa-solid fa-bookmark"></i>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="prescriptions-cards px-3">
    <div class="card-pill">
      <div class="px-3 title-wrap w-100">
        <div class="circle">
          <i class="fa-brands fa-spotify"></i>
        </div>

        <div class="card-title">
          <h1>Spotify Musics</h1>
        </div>
      </div>

      <div class="d-flex justify-content-center content-wrap">

      </div>
    </div>
  </div>

  <div class="prescriptions-cards px-3">
    <div class="card-pill">
      <div class="px-3 title-wrap w-100">
        <div class="circle">
          <i class="fa-brands fa-youtube"></i>
        </div>

        <div class="card-title">
          <h1>Youtube Videos</h1>
        </div>
      </div>

      <div class="d-flex justify-content-center content-wrap">
      </div>
    </div>
  </div>
</div>
