<div class="navbar-icons">
  <%= link_to :back do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>
</div>



<div class="container-white">
  <div class="header-title-purple">
    <div class="left-title">
      <h2><i class="fa-solid fa-calendar-days"></i> My Calendar</h2>
    </div>
  </div>

<div class="calendar-wrapper-rounded">
  <div class="calendar-container">
    <% display_appointment_image = true %>
    <% display_prescription_image = true %>
    <%= month_calendar(events: @events, attribute: :start_date, end_attribute: :end_date) do |date, events| %>
      <span class="d-day"><%= date.day %></span>
      <% has_appointment = false %>
      <% has_prescription = false %>
      <% events.each do |event| %>
        <% if event.class == Appointment && !has_appointment %>
          <br> <%= image_tag("rond-bluey.png", width: 10, style: "opacity: 0.5;") %>
          <% has_appointment = true %>
          <% display_appointment_image = false if display_appointment_image %>
        <% elsif event.class == Prescription && !has_prescription %>
          <br><%= image_tag("rond-greeny.png", width: 10, style: "opacity: 0.5;") %>
          <% has_prescription = true %>
          <% display_prescription_image = false if display_prescription_image %>
        <% end %>
      <% end %>
      <% if !has_appointment && !has_prescription %>
        <% display_appointment_image = true %>
        <% display_prescription_image = true %>
      <% end %>
    <% end %>
    <% display_appointment_image = true %>
    <% display_prescription_image = true %>

    <div class="legend-calendar">
    <div class="legend-bluey">
    <br> <h6 id="legend-appointment-calendar"> <%= image_tag("rond-bluey.png", width: 10, style: "opacity: 0.5;") %>  Appointment </h6>
    </div>

    <div class="legend-greeny">
    <br> <h6 id="legend-prescription-calendar">  <%= image_tag("rond-greeny.png", width: 10, style: "opacity: 0.5;") %> Prescription </h6>
    </div>

</div>

  </div>
</div>
</div>
