<div class="navbar-icons">
  <%= link_to :back do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= link_to "#" do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
</div>

<div class="container-white">
  <div class="header-title-purple">
    <div class="left-title">
      <h2><i class="fa-solid fa-capsules"></i> My Exercices</h2>
    </div>
  </div>

  <div class="day-of-prescription">
    <p><strong>22 February</strong> 2023</p>
  </div>
  <! -- 1 -- PRESCRIPTION CARD -->

  <div class="prescriptions-cards">
        <! -- Card Pills/Treatment/Exercices -->
    <% @exercice_prescriptions.each do |exercice_prescription| %>
      <div class="card">
        <! -- Pour le cercle de l'heure et la card du titre -->
        <div class="title-wrap">

        <! -- le cercle de l'heure -->
          <div class="circle">
            <p class="time"><%= exercice_prescription.todo_hours %>:<%= exercice_prescription.todo_minutes == 0 ? "00" : "30" %></p>
            <p class="time"><span class="time-small">AM</span></p>
          </div>

        <! -- la card du titre -->
          <div class="card-title">
            <h1><%= exercice_prescription.treatment.name.capitalize %></h1>
          </div>

        </div>



        <! -- Pour le comment : Deux lignes de texte pour plus joli rendu  -->

        <div class="content-wrap">
          <h2>Comment</h2>
          <p><%= exercice_prescription.comment %></p>
        </div>


          <! -- Pour les cercles d'action : cancel, edit, check -->
        <div class="action-wrap">

          <! -- Cercle d'action 1 : cancel -->

          <div class="action-circle-1">
            <%= link_to destroy_prescription_path(exercice_prescription), data: {turbo_method: :delete} do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>

          <! -- Cercle d'action 2 : edit -->

          <div class="action-circle-2">
          <%= link_to edit_prescription_path(exercice_prescription) do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
          </div>

          <! -- Cercle d'action 3 : check -->

          <div class="action-circle-3">
          <%= link_to exercices_confirm_prescription_path(exercice_prescription), data: { turbo_method: :patch }  do %>
            <i class="fa-solid fa-check"></i>
          <% end %>
          </div>

          <! -- On ferme es cercles d'action : cancel, edit, check -->
          </div>

        <! -- On ferme Card Pills/Treatment/Exercices -->
      </div>
    <% end %>
  </div>

</div>
 <! -- 1 -- PRESCRIPTION CARD -->

 <! -- 2 -- REMINDER NEXT 2 PRESCRIPTIONS CARD -->
