<div class="navbar-icons">
  <%= link_to :home do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= link_to prescriptions_path do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
</div>

<div class="container-white">
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-title-purple">
      <div class="left-title">
        <h2><%= image_tag("exercises-icon.svg", width: 30) %> My Exercises</h2>
      </div>
    </div>
    <div class="circle-add-new mx-3">
      <%= link_to new_prescription_path do %>
      <h2><i class="fa-solid fa-plus"></i></h2>
      <% end %>
    </div>
  </div>

  <div class="day-of-prescription">
    <h6><strong><%= Date.today.strftime("%A - %B %d, %Y") %></strong></h6>
  </div>
  <! -- 1 -- PRESCRIPTION CARD -->

  <div class="prescriptions-cards px-3">
        <! -- Card Pills/Treatment/Exercises -->
       <% @exercise_prescriptions_sorted_not_taken.each do |exercise_prescription| %>
      <div class="card-pill">
        <! -- Pour le cercle de l'heure et la card du titre -->
        <div class="px-3 title-wrap w-100">

        <! -- le cercle de l'heure -->
          <div class="circle">
            <p class="time"><%= exercise_prescription.todo_hours %>:<%= exercise_prescription.todo_minutes == 0 ? "00" : "30" %></p>
            <p class="time"><span class="time-small"><%= exercise_prescription.day_half %></span></p>
          </div>

        <! -- la card du titre -->
          <div class="card-title">
            <h1><%= exercise_prescription.treatment.name.capitalize %></h1>
          </div>

        </div>



        <! -- Pour le comment : Deux lignes de texte pour plus joli rendu  -->

        <div class="content-wrap">
          <h2><%= exercise_prescription.comment %></h2>
        </div>


          <! -- Pour les cercles d'action : cancel, edit, check -->
        <div class="action-wrap">

          <! -- Cercle d'action 1 : cancel -->

          <div class="action-circle-1">
            <%= button_to destroy_prescription_path(exercise_prescription), method: :delete,form: {"data-controller": "alertbysweet"}, data: {  action:"click->alertbysweet#confirm"}, class: "bid" do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>

          <! -- Cercle d'action 2 : edit -->

          <div class="action-circle-2">
          <%= link_to edit_prescription_path(exercise_prescription) do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
          </div>

          <! -- Cercle d'action 3 : check -->

          <div class="action-circle-3">
            <%= link_to pills_confirm_prescription_path(exercise_prescription), data: { turbo_method: :patch }  do %>
              <i class="fa-solid fa-check"></i>
            <% end %>
          </div>

          <%# NE PAS SUPPRIMER! Technique de Laura pour passer une valeur avec un form invisible. On design le bouton submit pour que ça convienne dans la view %>

          <%#= simple_form_for(exercise_prescription) do |f| %>
            <%#= f.input :taken_date,
                    # label: false,
                    as: :hidden,
                    input_html: {value: Date.today}
            <%#= f.submit class: "btn btn-success rounded-pill"%>
          <%# end %>

          <! -- On ferme es cercles d'action : cancel, edit, check -->
          </div>

        <! -- On ferme Card Pills/Treatment/Exercices -->
      </div>
    <% end %>


    <! -- On itère sur les prescriptions prises aujourd'hui -->
    <% @exercise_prescriptions_sorted_taken.each do |exercise_prescription| %>
      <div class="card-pill-confirmed">
        <! -- Pour le cercle de l'heure et la card du titre -->
        <div class="px-3 title-wrap w-100">

        <! -- le cercle de l'heure -->
          <div class="circle">
            <p class="time"><%= exercise_prescription.todo_hours %>:<%= exercise_prescription.todo_minutes == 0 ? "00" : "30" %></p>
            <p class="time"><span class="time-small"><%= exercise_prescription.day_half %></span></p>
          </div>

        <! -- la card du titre -->
          <div class="card-title">
            <h1><%= exercise_prescription.treatment.name.capitalize %></h1>
          </div>

        </div>



        <! -- Pour le comment : Deux lignes de texte pour plus joli rendu  -->

        <div class="content-wrap">
          <h2><%= exercise_prescription.comment %></h2>
        </div>


          <! -- Pour les cercles d'action : cancel, edit, check -->
        <div class="action-wrap">

          <! -- Cercle d'action 1 : cancel DISPLAY NONE -->

          <div class="action-circle-1 d-none">
            <%= link_to destroy_prescription_path(exercise_prescription), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>

          <! -- Cercle d'action 2 : edit - DISPLAY NONE -->

          <div class="action-circle-2 d-none">
          <%= link_to edit_prescription_path(exercise_prescription) do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
          </div>

          <! -- Cercle d'action 3 : check -->

          <div class="action-circle-3-confirmed">
              <i class="fa-solid fa-check" style="color: white"></i>
          </div>


          <! -- On ferme es cercles d'action : cancel, edit, check -->
          </div>

        <! -- On ferme Card Pills/Treatment/Exercices -->
      </div>
    <% end %>
  </div>

</div>
 <! -- 1 -- PRESCRIPTION CARD -->

 <! -- 2 -- REMINDER NEXT 2 PRESCRIPTIONS CARD -->
