<%= link_to "My Pills", pills_path %>
<%= link_to "My Cares", cares_path %>
<%= link_to "My Exercices", exercices_path %>

<div class="homepage">
  <div class="home-content"></div>
  <div class="features">
    <i class="fa-solid fa-book-medical"></i>
    <i class="fa-solid fa-rocket"></i>
    <i class="fa-solid fa-handshake-angle"></i>
    <%= link_to prescriptions_path do %>
      <i class="fa-solid fa-calendar-days"></i>
    <% end %>
    <%= link_to profile_path do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
</div>
