<div class="homepage-container pt-4">
  <div class="logo-my-aid-homepage">
    <%= image_tag "my-aid-plus-logo.png" %>
  </div>

  <div class="homepage-calendar-card">

    <div class="calendar-month">
     <div class="day-card-flex-month-year">
      <h2>March </h2>  <p> 2023</p>
      </div>
    </div>


    <div class="calendar-body">
      <div class="day-card-flex">
        <div class="arrow-calendar">
          <i class="fa-solid fa-caret-left"></i>
        </div>

        <div class="day-card">
          <h3>8</h3>
          <p>Wed</p>
        </div>


        <div class="day-card">
          <h3>9</h3>
          <p>Thur</p>
        </div>

        <div class="day-card current-day">
          <h3 class="current-day-number">10</h3>
          <p class="current-day-day">Fri</p>
        </div>

        <div class="day-card">
          <h3>11</h3>
          <p>Sat</p>
        </div>

        <div class="day-card me-0">
          <h3>12</h3>
          <p>Sun</p>
        </div>

        <div class="arrow-calendar">
          <i class="fa-solid fa-caret-right"></i>
        </div>
      </div>
    </div>

  </div>
</div>

<div>
  <div class="home-content">
    <%= link_to pills_path do %>
        <div class="card-reminder">
          <div class="flex-prescription-title-icon mb-4">
            <%= image_tag("pills-icon.svg", width: 30) %>
            <h1> Pills </h1>
          </div>

          <div class="content-wrap-reminder">
              <h6>My next pills</h6>

            <% @pill_prescriptions.first(2).each do |pill_prescription| %>
              <div class="content-wrap-hour-prescription">
                <p><%= pill_prescription.todo_hours %>:<%= pill_prescription.todo_minutes == 0 ? "00" : "30" %></p>
                <p><%= pill_prescription.treatment.name.capitalize %></p>
              </div>
            <%end%>
          </div>
        </div>
    <% end %>
  </div>

  <div class="home-content">
    <%= link_to cares_path do %>
      <div class="card-reminder">
        <div class="flex-prescription-title-icon mb-4">
          <%= image_tag("cares-icon.svg", width: 30) %>
          <h1> Cares </h1>
        </div>

        <div class="content-wrap-reminder">
              <h6>My next cares</h6>

              <% @care_prescriptions.first(2).each do |care_prescription| %>
              <div class="content-wrap-hour-prescription">
                <p><%= care_prescription.todo_hours %>:<%= care_prescription.todo_minutes == 0 ? "00" : "30" %></p>
                <p><%= care_prescription.treatment.name.capitalize %></p>
              </div>
            <%end%>
        </div>
      </div>
    <% end %>
  </div>

  <div class="home-content">
    <%= link_to appointments_path do %>
      <div class="card-reminder">
        <div class="flex-prescription-title-icon mb-4">
          <%= image_tag("appointments-icon.svg", width: 30) %>
          <h1> Appointments </h1>
        </div>

        <div class="content-wrap-reminder">
              <h6>My next appointments</h6>
            <% @appointments.first(2).each do |appointment| %>
              <div class="content-wrap-hour-prescription">
                <p><%=appointment.appointment_hour%>:<%=appointment.appointment_min == 0 ? "00" : "30" %></p>
                <p><%=appointment.doctor.specialty.capitalize%></p>
                <p><%=appointment.doctor.name.capitalize%></p>
              </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="home-content mb-5">
    <%= link_to exercises_path do %>
      <div class="card-reminder mb-5">
        <div class="flex-prescription-title-icon mb-4">
          <%= image_tag("exercises-icon.svg", width: 30) %>
          <h1> Exercises </h1>
        </div>

        <div class="content-wrap-reminder">
              <h6>My next exercises</h6>

              <% @exercise_prescriptions.first(2).each do |exercise_prescription| %>
              <div class="content-wrap-hour-prescription">
                <p><%= exercise_prescription.todo_hours %>:<%= exercise_prescription.todo_minutes == 0 ? "00" : "30" %></p>
                <p><%= exercise_prescription.treatment.name.capitalize %></p>
              </div>
            <%end%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="homepage">
  <div class="features">
    <% if @diary %>
      <%= link_to diary_path(@diary) do %>

        <i class="fa-solid fa-book-medical"></i>
      <% end %>
    <% end %>

    <%= link_to boost_path(@diary) do %>
      <i class="fa-solid fa-rocket"></i>
    <% end %>
    <i class="fa-solid fa-handshake-angle"></i>
    <%= link_to prescriptions_path do %>
      <i class="fa-solid fa-calendar-days"></i>
    <% end %>
    <%= link_to profile_path do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
</div>
