<div class="navbar-icons">
  <%= link_to :home do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= link_to prescriptions_path do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
</div>

<div class="container-white">
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-title-purple">
      <div class="left-title">
        <h2><%= image_tag("appointments-icon.svg", width: 30) %></i>My Appointments</h2>
      </div>
    </div>
    <div class="circle-add-new mx-3">
      <%= link_to new_appointment_path do %>
      <h2><i class="fa-solid fa-plus"></i></h2>
      <% end %>
    </div>
  </div>

  <div class="day-of-prescription">
    <p><strong><%= Date.today.strftime("%A - %B, %d %Y") %></strong></p>
  </div>
  <! -- 1 -- PRESCRIPTION CARD -->

  <div class="prescriptions-cards px-3">
    <% @appointments.each do |appointment| %>
      <%= link_to appointment_path(appointment) do %>
        <div class="card-pill">
          <div class="px-3 title-wrap w-100">
            <div class="circle">
              <p class="time"><%=appointment.appointment_hour%>:<%=appointment.appointment_min == 0 ? "00" : "30" %></p>
              <p class="time"><span class="time-small">AM</span></p>
            </div>

            <div class="card-title">
              <h1><%=appointment.doctor.specialty.capitalize%></h1>
            </div>
          </div>

          <div class="content-wrap">
            <h2>Name</h2>
            <p><%=appointment.doctor.name.capitalize%></p>
            <h2>Address</h2>
            <p><%=appointment.doctor.address%></p>
          </div>


            <! -- Pour les cercles d'action : cancel, edit, check -->
          <div class="action-wrap">

            <! -- Cercle d'action 1 : cancel -->

            <div class="action-circle-1">
              <%= link_to appointments_path(@appointments), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            </div>

            <! -- Cercle d'action 2 : edit -->

            <div class="action-circle-2">
            <%= link_to edit_appointment_path(@appointments) do %>
              <i class="fa-solid fa-pencil"></i>
            <% end %>
            </div>
            </div>

            <button type=submit style="background: transparent; border: none">
            <div class="action-circle-3">
            <%#= link_to pills_confirm_prescription_path(pill_prescription), data: { turbo_method: :patch }  do %>
              <%# <i class="fa-solid fa-check"></i> %>
            <%# end %>
                <i class="fa-solid fa-check"></i>
                <%= simple_form_for(appointment) do |f| %>
                  <% f.input :is_done,
                            as: :hidden,
                            value: Date.today
                  %>
                <% end %>
            </div>
          <! -- On ferme Card Pills/Treatment/Exercices -->
        </div>
      <% end %>
    <% end %>
  </div>

</div>
 <! -- 1 -- PRESCRIPTION CARD -->

 <! -- 2 -- REMINDER NEXT 2 PRESCRIPTIONS CARD -->
