<h1>Appointments</h1>


  <% @appointments.each do |appointment| %>

      <div class="mb-3 row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"> <%=appointment.doctor.name%></h1>
              <h2 class="card-title"><%=appointment.appointment_hour%>H <%=appointment.appointment_min%>min</h2>
              <p class="card-text"><%=appointment.comment  %></p>
                <p class="card-text">Finshed appointment <%=appointment.is_done%>
              <%= link_to "See details", appointment_path(appointment) %>
                <%= link_to "Delete RDV", appointments_path(@appointment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-dark-drivemate"%>
            </div>
          </div>
        </div>

      </div>


  <% end %>





    <%= link_to "Add Appointment",  new_appointment_path %>

    <%= link_to "Edit Appointment",  edit_appointment_path(@appointments)%>
