<%if flash[:notify] %>
    <div data-controller="alert-confirm">
    </div>
<%end%>
<div class="navbar-icons">
  <%= link_to :home do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= link_to prescriptions_path do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
</div>

<div class="container-white">
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-title-purple">
      <div class="left-title">
        <h2><%= image_tag("appointments-icon.svg", width: 30) %> My Appointments</h2>
      </div>
    </div>
    <div class="circle-add-new mx-3">
      <%= link_to new_appointment_path do %>
      <h2><i class="fa-solid fa-plus"></i></h2>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="day-of-prescription">
      <h6><strong><%= Date.today.strftime("%A - %B %d, %Y") %></strong></h6>
    </div>
  </div>
  <!-- 1 -- PRESCRIPTION CARD -->

  <!-- On itère d'abord sur les RDV pas encore faits -->
  <div class="prescriptions-cards px-3">
    <% @appointments_not_done.each do |appointment| %>
      <%= link_to appointment_path(appointment) do %>
        <div class="card-pill-appointment">
          <div class="px-3 title-wrap w-100">

            <div class="circle">
              <p class="time"><%= appointment.appointment_hour %>:<%= appointment.appointment_min == 0 ? "00" : "30" %></p>
              <p class="time"><span class="time-small"><%= appointment.day_half %></span></p>
            </div>

            <div class="card-title">
              <h1><%= appointment.doctor.specialty.capitalize %></h1>
            </div>

          </div>

          <div class="content-wrap">
            <h2><strong><%=appointment.doctor.title.capitalize%> <%=appointment.doctor.name.capitalize%></strong></h2>
            <h2><%=appointment.doctor.address%></h2>
          </div>

          <div class="action-wrap">

            <!-- Cercle d'action 1 : cancel -->

            <div class="action-circle-1">

              <%#= link_to destroy_appointment_path(appointment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>

              <%= button_to destroy_appointment_path(appointment), method: :delete,form: {"data-controller": "alertbysweet"}, data: {  action:"click->alertbysweet#confirm"}, class: "bid" do %>

                <i class="fa-solid fa-xmark"></i>
              <% end %>
            </div>

            <!-- Cercle d'action 2 : edit -->

            <div class="action-circle-2">
            <%= link_to edit_appointment_path(appointment) do %>
              <i class="fa-solid fa-pencil"></i>
            <% end %>
            </div>

            <!-- Cercle d'action 3 : check -->

            <div class="action-circle-3">
              <%= link_to appointments_confirm_path(appointment), data: { turbo_method: :patch }  do %>
                <i class="fa-solid fa-check" ></i>
              <% end %>
            </div>

            <%# NE PAS SUPPRIMER! Technique de Laura pour passer une valeur avec un form invisible. On design le bouton submit pour que ça convienne dans la view %>

            <%#= simple_form_for(appointment) do |f| %>
              <%#= f.input :taken_date,
                      # label: false,
                      as: :hidden,
                      input_html: {value: Date.today}
              <%#= f.submit class: "btn btn-success rounded-pill"%>
            <%# end %>

            <! -- On ferme es cercles d'action : cancel, edit, check -->
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

<! -- On itère sur les RDV DEJA faits aujourd'hui -->
  <div class="prescriptions-cards px-3">
    <% @appointments_done.each do |appointment| %>
      <%= link_to appointment_path(appointment) do %>
        <div class="card-pill-appointment-confirmed">
          <div class="px-3 title-wrap w-100">
            <div class="circle">
              <p class="time"><%=appointment.appointment_hour%>:<%=appointment.appointment_min == 0 ? "00" : "30" %></p>
              <p class="time"><span class="time-small"><%= appointment.day_half %></span></p>
            </div>

            <div class="card-title">
              <h1><%=appointment.doctor.specialty.capitalize%></h1>
            </div>
          </div>

          <div class="content-wrap">
            <h2><strong><%=appointment.doctor.title.capitalize%> <%=appointment.doctor.name.capitalize%></strong></h2>
            <h2><%=appointment.doctor.address%></h2>
          </div>


            <! -- Pour les cercles d'action : cancel, edit, check -->
          <div class="action-wrap">

            <! -- Cercle d'action 1 : cancel -->




            <div class="action-circle-1">
              <%= button_to destroy_appointment_path(appointment), method: :delete,form: {"data-controller": "alertbysweet"}, data: {  action:"click->alertbysweet#confirm"}, class: "bid" do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            </div>

            <! -- Cercle d'action 2 : edit -->

            <div class="action-circle-2">
            <%= link_to edit_appointment_path(appointment) do %>
              <i class="fa-solid fa-pencil"></i>
            <% end %>
            </div>
            </div>

            <button type=submit style="background: transparent; border: none">
            <div class="action-circle-3-confirmed">
            <%#= link_to pills_confirm_prescription_path(pill_prescription), data: { turbo_method: :patch }  do %>
              <%# <i class="fa-solid fa-check"></i> %>
            <%# end %>
                <i class="fa-solid fa-check" style="color: white"></i>
                <%= simple_form_for(appointment) do |f| %>
                  <% f.input :is_done,
                            as: :hidden,
                            value: Date.today
                  %>
                <% end %>
            </div>
          <! -- On ferme Card Pills/Treatment/Exercices -->
        </div>
      <% end %>
    <% end %>
  </div>
</div>
 <! -- 1 -- PRESCRIPTION CARD -->

 <! -- 2 -- REMINDER NEXT 2 PRESCRIPTIONS CARD -->
