<div class="navbar-icons">
  <%= link_to :back, html: {class: "log-out-right"} do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= link_to prescriptions_path do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
</div>


<div class="container-white">
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-title-purple">
      <div class="left-title">
         <h2><i class="fa-solid fa-calendar-days"></i> New appointment</h2>
      </div>
    </div>
  </div>

  <!-- simple form for new -->
  <div class="container-form">
    <%= simple_form_for @appointment, html: {data: {controller: "flatpickr"}} do |f| %>

      <%= f.association :doctor, collection: Doctor.all , prompt: "Specialist", label:false,input_html: {
        class: "card-form w-100",
        style: "filter: drop-shadow(0px 4px 4px #EBEBF2);"
      },
      wrapper_html: {
      class: "text-primary"
      } %>

      <%= f.input :date,
                  as: :string,
                  # as: :date,
                  # html5: true,
                  label: false,
                  wrapper_html: {
                    class: "text-primary"
                  },
                  input_html: {
                    class: "card-form d-none",
                    data: {
                      flatpickr_target: "startDateInput"
                    }
                  }%>

      <%= f.input :appointment_hour,
                  collection: 8..19,
                  prompt: "hh",
                  label:false,
                  wrapper_html: {
                    class: "text-primary"
                  },
                  input_html: {
                    class: "card-form",
                  }%>
      <%= f.input :appointment_min,
                  collection: (0..45).step(15),
                  prompt: "mm",
                  label:false,
                  wrapper_html: {
                    class: "text-primary"
                  },
                  input_html: {
                    class: "card-form",
                  } %>
      <%= f.input :comment,
                  as: :text,
                  wrapper_html: {
                    class: "text-primary"
                  },
                  input_html: {
                    class: "card-form",
                  }
                  %>
      <%= f.button :submit, class: "btn-primary mt-3"%>
    <% end %>
  </div>
</div>
