<h1>Appointment new page welcome</h1>
<!-- simple form for new -->
<%= simple_form_for @appointment do |f| %>
  <%= f.input :date, html5: true %>
  <!-- html 5 true means that value nil , without html 5 data will be today -->
  <%= f.input :time, html5: true %>
  <%= f.input :doctor, collection: Doctor.all %>

  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>
