<div class="navbar-icons">
  <%= link_to :back do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= link_to prescriptions_path do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
</div>

<div class="container-white d-flex flex-column">
  <div class="header-title-purple">
    <div class="d-flex justify-content-center">
      <h6><strong><%= Date.today.strftime("%A - %B %d, %Y") %></strong></h6>
    </div>
  </div>


  <div class="prescriptions-cards px-3">
    <div class="card-pill-appointment-show">
      <div class="px-3 title-wrap">
        <div class="circle">
          <p class="time"><%=@appointment.appointment_hour%>:<%=@appointment.appointment_min == 0 ? "00" : "30" %></p>
          <p class="time"><span class="time-small">AM</span></p>
        </div>

        <div class="card-title">
          <h1><%=@appointment.doctor.specialty.capitalize%></h1>
        </div>
      </div>

      <div class="content-wrap">
        <h2><strong><%=@appointment.doctor.title.capitalize%> <%=@appointment.doctor.name.capitalize%></strong></h2>
        <h2><%=@appointment.doctor.address%></h2>
      </div>


        <! -- Pour les cercles d'action : cancel, edit, check -->
      <div class="action-wrap">
        <div class="action-circle-3">
        <%= link_to edit_appointment_path(@appointment) do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
        </div>
      </div>

      <! -- On ferme Card Pills/Treatment/Exercices -->
    </div>
  </div>

  <div class="prescriptions-cards px-3">
    <div class="card-pill">
      <div class="px-3 title-wrap">
        <div class="circle">
          <i class="fa-solid fa-note-sticky w-30"></i>
        </div>

        <div class="card-title">
          <h1>My notes</h1>
        </div>
      </div>

      <div class="content-wrap">
        <p> <%= @appointment.comment %> </p>
      </div>


        <! -- Pour les cercles d'action : cancel, edit, check -->
      <div class="action-wrap">
        <div class="action-circle-2">
          <%= link_to edit_appointment_path(@appointment) do %>
            <i class="fa-solid fa-microphone"></i>
          <% end %>
        </div>

        <div class="action-circle-3">
          <%= link_to edit_appointment_path(@appointment) do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
        </div>
      </div>
      <! -- On ferme Card Pills/Treatment/Exercices -->
    </div>
  </div>

  <div class="px-3 prescriptions-cards-map mt-4">
      <div class="px-3 title-wrap">
        <div class="circle">
          <i class="fa-solid fa-location-dot"></i>
        </div>

        <div class="card-title">
          <h1>Location</h1>
        </div>
      </div>
    <div class="card-pill map-location" style="width: 100%;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
      <div class="time-to-destination">
        <h1>Time to destination</h1>
        <p><i class="fa-solid fa-car"></i> 30 minutes</p>
        <p><i class="fa-solid fa-bus-simple"></i> 45 minutes</p>
        <p><i class="fa-solid fa-person-biking"></i> 30 minutes</p>
        <p><i class="fa-solid fa-person-walking"></i>  60 minutes</p>
      </div>
  </div>
  <% if @weather %>
    <div class="prescriptions-cards px-3">
      <div class="card-pill-weather">
        <div class="px-3 title-wrap">
          <div class="circle">
            <i class="fa-solid fa-cloud-sun"></i>
          </div>

          <div class="card-title">
            <h1>Weather</h1>
          </div>
        </div>

        <div class= "weatherapi">
          <div class="cityname-weather">
            <h1 id="weather-name-api"><%= @weather.name%></h1>
          </div>
          <div class="degreeicon">
            <div class="degree">
                <h1><strong><%= @weather.main.temp_max_c.to_i %>&deg</strong></h1>
            </div>
            <div class="weathericon">
                  <%= image_tag(@weather.weather.first["icon_uri"].to_s) %>
            </div>
            <div class="weatherdescription">
              <p>Previsions for your appointment:</p>
              <p><strong><%= @weather.weather.first.description%> </strong> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
