<!DOCTYPE html>
<html>
  <head>
        <!--Icon on brower--->

    <%= favicon_link_tag "favicon-my-aid-plus.svg", rel: "icon", type: "image/svg" %>

  <!-- HTML Meta Tags -->
  <title> Your recovery all under control with MyAid+</title>
  <meta name="description" content="We take care of your recovery organization. Add your prescriptions (pills, treatments, exercices) and your appointments (nurse, surgeon, doctor). We take care of the rest. Not feeling good, have a look to your daily boost !

          ">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content=" Your recovery all under control with MyAid+">
  <meta itemprop="description" content="We take care of your recovery organization. Add your prescriptions (pills, treatments, exercices) and your appointments (nurse, surgeon, doctor). We take care of the rest. Not feeling good, have a look to your daily boost !

          ">
  <meta itemprop="image" content="https://www.myaidplus.fr/assets/pills-banner-my-aid-plus-31da40268332c6a41f3e0461e46d62e902c8a0b4228d685f7c19b0d599956976.png">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.myaidplus.fr/?from=@">
  <meta property="og:type" content="website">
  <meta property="og:title" content=" Your recovery all under control with MyAid+">
  <meta property="og:description" content="We take care of your recovery organization. Add your prescriptions (pills, treatments, exercices) and your appointments (nurse, surgeon, doctor). We take care of the rest. Not feeling good, have a look to your daily boost !

          ">
  <meta property="og:image" content="https://www.myaidplus.fr/assets/pills-banner-my-aid-plus-31da40268332c6a41f3e0461e46d62e902c8a0b4228d685f7c19b0d599956976.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content=" Your recovery all under control with MyAid+">
  <meta name="twitter:description" content="We take care of your recovery organization. Add your prescriptions (pills, treatments, exercices) and your appointments (nurse, surgeon, doctor). We take care of the rest. Not feeling good, have a look to your daily boost !

          ">
  <meta name="twitter:image" content="https://www.myaidplus.fr/assets/pills-banner-my-aid-plus-31da40268332c6a41f3e0461e46d62e902c8a0b4228d685f7c19b0d599956976.png">



    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
      <!--Icon for progressive web app--->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

   <link href="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/js/tom-select.complete.min.js"></script>

    <!-- sweet alert--->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">

    <!--PWA Progressive web app--->

    <link rel="manifest" href="<%= asset_path 'manifest.js' %>">

    <%= render 'shared/ios_pwa_links' %>

    <!--PWA progressive web app--->

  </head>

  <body>
  <%#= render "shared/navbar" %>

    <%= render "shared/flashes" %>

    <%= yield %>

  </body>
</html>
